---
import BaseLayout from "../layouts/BaseLayout.astro";
import Frame from "../components/Frame.astro";
import Box from "../components/Box.astro";
const pageTitle = "About";
const width = "72vw";
const height = "72vh";
const frame_tr = "frame_tr";
const boxTitle = ["HTML5", "CSS3", "Javascript", "Digital Marketing", "Data Analytics", "Javascript's back", "C Language & Shell", "What's next ?"];
const boxLogos = ["M0 32l34.9 395.8L191.5 480l157.6-52.2L384 32H0zm308.2 127.9H124.4l4.1 49.4h175.6l-13.6 148.4-97.9 27v.3h-1.1l-98.7-27.3-6-75.8h47.7L138 320l53.5 14.5 53.7-14.5 6-62.2H84.3L71.5 112.2h241.1l-4.4 47.7z"];
---




<BaseLayout pageTitle={pageTitle} width={width} height={height} frame_tr={frame_tr}>
    <Frame width={width} height={height} frame_tr={frame_tr}>
        <div class="container">
            <h1>About Me<span style="color: #de4900;">.</span></h1>
            <div class="roadmap">
                <svg class="about_line" width="72vw" style="z-index: 1;" viewBox="0 0 2570 964" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M55.5 88.0002C210.833 194.334 539.9 357.7 1013.5 268.5C1605.5 157 1690.5 -92.9998 2005.5 57.5001C2370.69 231.977 2266.5 570.5 1681.5 586C1096.5 601.5 604.607 267.692 154.5 620.5C-130 843.5 199.5 1036 818.5 832.5C1313.7 669.7 2053 1194 2507 686.5" stroke="#ecf0f3" stroke-width="30" stroke-dasharray="80 80"/>
                    <g id="pop">
                        <circle class="" cx="63" cy="97" r="63"/>
                        <circle class="waiting" cx="1094" cy="248" r="63"/>
                        <circle class="waiting" cx="2004" cy="63" r="63"/>
                        <circle class="waiting" cx="1726" cy="582" r="63"/>
                        <circle class="waiting" cx="617" cy="462" r="63"/>
                        <circle class="waiting" cx="576" cy="892" r="63"/>
                        <circle class="waiting" cx="1675" cy="890" r="63"/>
                        <circle class="waiting" cx="2442" cy="756" r="63"/>
                    </g>
                </svg>
                <svg class="about_line" width="72vw" viewBox="0 0 2570 929" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="path" class="" d="M55.5 88.0002C210.833 194.334 539.9 357.7 1013.5 268.5C1605.5 157 1690.5 -92.9998 2005.5 57.5001C2370.69 231.977 2266.5 570.5 1681.5 586C1096.5 601.5 604.607 267.692 154.5 620.5C-130 843.5 199.5 1036 818.5 832.5C1313.7 669.7 2053 1194 2507 686.5" stroke="#1A1A1A" stroke-width="20" stroke-dasharray="80 80"/>
                </svg>
                <Box boxTitle={boxTitle[0]} boxLogos={boxLogos[0]}>
                    <p>
                        My journey in web development
                        started 3 years ago, I was
                        discovered HTML5 with page
                        structure, tags and attributes for
                        the first time. Used Sublime Text
                        IDE to create my own pages and
                        added links to join them together.
                        But something was missing, my
                        pages needed styles to look
                        better...
                    </p>
                </Box>
                <Box boxTitle={boxTitle[1]}>
                    <p>
                        The Cascading Style Sheet Language
                        was create to solve this kind of
                        problem. And just with these 2
                        languages I was able to create
                        entire websites by myself. This
                        was the time to dive into the web
                        to learn more about all different
                        styles. I could now add colors,
                        shapes, animations and media
                        queries for the responsive design...
                    </p>
                </Box>
                <Box boxTitle={boxTitle[2]}>
                    <p>
                        Starting directly with the ES6
                        standard I was not very good for
                        algorithmic language like JS, with
                        these variables, conditions, loops
                        and the oriented object paradigm
                        more globally. Maybe because it
                        was to early, the fact was, I’ve
                        stopped to learn it from this moment.
                        I’ve chosen to focus on other jobs
                        like designer, video editor which
                        were also presented in my courses.
                    </p>
                </Box>
                <Box boxTitle={boxTitle[3]}>
                    <p>
                        After obtain my associate degree,
                        I couldn’t (and always can’t
                        today) stop to learn by myself.
                        I’ve tried many class courses in
                        web, in many platforms which the
                        most popular was Coursera and
                        Udemy in Digital Marketing with the 
                        Marketing Funnel, SEO/SEM, Social
                        Media Ads, E-mail Marketing and
                        E-commerce integration strategies.
                    </p>
                </Box>
                <Box boxTitle={boxTitle[4]}>
                    <p>
                    And also in the world of data,
                    with a Google course which
                    introduced how to data analyse by
                    asking good questions, prepare
                    data, process, analyse, share it
                    with stakeholders and act thanks
                    to insights discovered. I’ve used
                    SQL queries to filter and sort
                    datasets, R language to create
                    visualisations and Tableau a
                    visual analytic platform.
                    </p>
                </Box>
                <Box boxTitle={boxTitle[5]}>
                    <p>
                    But during this time, after done
                    these courses I was always
                    searching for my real passion, and
                    the coding was the response. I’ve
                    never stop to code, even during
                    courses, in HTML,CSS and WordPress
                    but not in JS. It’s a FreeCodeCamp
                    video which illuminates me and let
                    me try again. And I was more
                    self-confident to use it in my
                    projects.
                    </p>
                </Box>
                <Box boxTitle={boxTitle[6]}>
                    <p>
                    This summer I’ve participated at
                    a 42 pool, like a long hackathon
                    during 4 weeks to improve my skills.
                    It was a grateful experience, I’ve
                    discovered Shell and C language
                    with 200 other pool mates. The C
                    was more longer to learn than JS
                    because it’s low level which means
                    to be careful. But it’s a powerful
                    language due, in part, to the
                    manual memory management.
                    </p>
                </Box>
                <Box boxTitle={boxTitle[7]}>
                    <p>
                    Now, after finished the 42
                    pool I’ve made some new things in
                    JS again. Like this Portfolio in
                    Astro.js and GSAP. I would
                    definitely become developer and
                    the web will be the first place
                    where I want to work with. To be a
                    frontend engineer at first by
                    using JS frameworks like React to
                    create applications. And maybe one
                    day become a fullstack engineer by
                    using Node.js or Python in backend
                    devices...
                    </p>
                </Box>
            </div>
        </div>
    </Frame>
</BaseLayout>

<style>
    .container
    {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 32px;
        overflow: hidden;
    }

    h1
    {
        position: absolute;
        top: 32px;
        left: 32px;
    }

    .roadmap
    {
        position: absolute;
        top: calc(32px + 6vh);
        left: 32px;
    }

    .roadmap .about_line
    {
        position: absolute;
        height: auto;
        overflow: visible;
    }

    .about_line path
    {
        fill: none;
    }

    .about_line #path
    {
        stroke-dasharray: 7420;
        stroke-dashoffset: 7420;
    }

    #pop circle
    {
        fill: #de4900;
    }

    .box
    {
        position: absolute;
        width: 36vw;
        padding: 20px;
        color: #7c8086;
        background: #d6dee9;
        border-radius: 24px;
        opacity: 0;
        z-index: 3;
    }

    .box:nth-child(0n+3)
    {
        opacity: 1;
    }

    .waiting
    {
        display: none;
    }

    .top
    {
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-bottom: 4px;
    }

    svg
    {
        height: 2.4em;
    }

    path
    {
        fill: #7c8086;
    }

    p
    {
        font-size: calc(.28rem + .8vw);
    }

    .bot
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 12px;
    }

    button
    {
        font-size: calc(.48rem + .8vw);
        padding: 8px 16px;
        color: #ecf0f3;
        background: #de4900;
        border: none;
        border-radius: 32px;
    }

    .anim1
    {
        stroke-dasharray: 7420;
        stroke-dashoffset: 7420;
        animation: anim1 1s linear forwards;
    }

    @keyframes anim1
    {
        to
        {
            stroke-dashoffset: 6242;
        }
    }

    .anim2
    {
        stroke-dasharray: 7420;
        stroke-dashoffset: 7420;
        animation: anim2 1s linear forwards;
    }

    @keyframes anim2
    {
        from
        {
            stroke-dashoffset: 6242;
        }
        to
        {
            stroke-dashoffset: 5382;
        }
    }

    .anim3
    {
        stroke-dasharray: 7420;
        stroke-dashoffset: 7420;
        animation: anim3 1s linear forwards;
    }

    @keyframes anim3
    {
        from
        {
            stroke-dashoffset: 5382;
        }
        to
        {
            stroke-dashoffset: 4362;
        }
    }

    .anim4
    {
        stroke-dasharray: 7420;
        stroke-dashoffset: 7420;
        animation: anim4 1s linear forwards;
    }

    @keyframes anim4
    {
        from
        {
            stroke-dashoffset: 4362;
        }
        to
        {
            stroke-dashoffset: 3240;
        }
    }

    .anim5
    {
        stroke-dasharray: 7420;
        stroke-dashoffset: 7420;
        animation: anim5 1s linear forwards;
    }

    @keyframes anim5
    {
        from
        {
            stroke-dashoffset: 3240;
        }
        to
        {
            stroke-dashoffset: 1940;
        }
    }

    .anim6
    {
        stroke-dasharray: 7420;
        stroke-dashoffset: 7420;
        animation: anim6 1s linear forwards;
    }

    @keyframes anim6
    {
        from
        {
            stroke-dashoffset: 1940;
        }
        to
        {
            stroke-dashoffset: 900;
        }
    }

    .anim7
    {
        stroke-dasharray: 7420;
        stroke-dashoffset: 7420;
        animation: anim7 1s linear forwards;
    }

    @keyframes anim7
    {
        from
        {
            stroke-dashoffset: 1000;
        }
        to
        {
            stroke-dashoffset: 60;
        }
    }

    .anim8
    {
        stroke-dasharray: 7420;
        stroke-dashoffset: 7420;
        animation: anim8 1s linear forwards;
    }

    @keyframes anim8
    {
        from
        {
            stroke-dashoffset: 6242;
        }
        to
        {
            stroke-dashoffset: 7420;
        }
    }

    .anim9
    {
        stroke-dasharray: 7420;
        stroke-dashoffset: 7420;
        animation: anim9 1s linear forwards;
    }

    @keyframes anim9
    {
        from
        {
            stroke-dashoffset: 5382;
        }
        to
        {
            stroke-dashoffset: 6242;
        }
    }

    .anim10
    {
        stroke-dasharray: 7420;
        stroke-dashoffset: 7420;
        animation: anim10 1s linear forwards;
    }

    @keyframes anim10
    {
        from
        {
            stroke-dashoffset: 4362;
        }
        to
        {
            stroke-dashoffset: 5382;
        }
    }

    .anim11
    {
        stroke-dasharray: 7420;
        stroke-dashoffset: 7420;
        animation: anim11 1s linear forwards;
    }

    @keyframes anim11
    {
        from
        {
            stroke-dashoffset: 3240;
        }
        to
        {
            stroke-dashoffset: 4362;
        }
    }

    .anim12
    {
        stroke-dasharray: 7420;
        stroke-dashoffset: 7420;
        animation: anim12 1s linear forwards;
    }

    @keyframes anim12
    {
        from
        {
            stroke-dashoffset: 1940;
        }
        to
        {
            stroke-dashoffset: 3240;
        }
    }

    .anim13
    {
        stroke-dasharray: 7420;
        stroke-dashoffset: 7420;
        animation: anim13 1s linear forwards;
    }

    @keyframes anim13
    {
        from
        {
            stroke-dashoffset: 900;
        }
        to
        {
            stroke-dashoffset: 1940;
        }
    }

    .anim14
    {
        stroke-dasharray: 7420;
        stroke-dashoffset: 7420;
        animation: anim14 1s linear forwards;
    }

    @keyframes anim14
    {
        from
        {
            stroke-dashoffset: 60;
        }
        to
        {
            stroke-dashoffset: 900;
        }
    }
</style>

<script src="../scripts/roadmap.js" />