---
import BaseLayout from "../layouts/BaseLayout.astro";
import Frame from "../components/Frame.astro";
const pageTitle = "Contact";
const width = "72vw";
const height = "72vh";
const frame_tr = "frame_tr";
---

<BaseLayout pageTitle={pageTitle} width={width} height={height} frame_tr={frame_tr}>
    <Frame width={width} height={height} frame_tr={frame_tr}>
        <div class="container">
            <div class="container__inner container__inner--left"><!-- -->
                <h1 class="container__h1">Contact<span style="color: #de4900;">.</span></h1>
                <form class="container__form" method="post" novalidate>
                    <div class="form__inner form__inner--row">
                        <p class="p__name">
                            <label for="name">Your Name</label>
                            <span class="form__error" aria-live="polite"></span>
                            <input type="text" id="name" name="user_name" maxlength="56" placeholder="ex: Paul Mallet" required></input>
                        </p>
                        <p class="p__job">
                            <label for="job">Your Job</label>
                            <span class="form__error" aria-live="polite"></span>
                            <input type="text" id="job" name="user_job" maxlength="56" placeholder="ex: Software Engineer" required></input>
                        </p>
                    </div>
                    <div class="form__inner form__inner--column">
                        <p class="p__email">
                            <label for="email">Your Email</label>
                            <span class="form__error" aria-live="polite"></span>
                            <input type="email" id="email" name="user_email" minlength="8" maxlength="56" placeholder="ex: email@gmail.com" required></input>
                        </p>
                        <p class="p__message">
                            <label for="message">Your Message</label>
                            <span class="form__error" aria-live="polite"></span>
                            <textarea id="message" name="user_message" maxlength="320" placeholder="Type your request here..." spellcheck="false" required></textarea>
                        </p>
                        <div class="form__submit">
                            <button type="submit">Send Message</button>
                            <svg class="form__error incomplete" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z"/>
                            </svg>
                            <svg class="valid incomplete" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/>
                            </svg>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container__inner container__inner--right">
                <div class="inner__paths">
                    <svg class="svg__plane-line" style="z-index: 1;" width="100%" height="100%" viewBox="0 0 2028 838" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 710.855C182.5 912.688 1011.73 736.855 1193 469.855C1441.15 104.355 891.401 -221.645 647 230.355C517.5 469.855 784.5 827.355 1193 827.355C1575 827.355 1816 664.855 2018.5 336.355" fill="none" stroke-width="30" stroke-dasharray="40 40" />
                        <g id="plane">
                            <path d="M482.3 192c34.2 0 93.7 29 93.7 64c0 36-59.5 64-93.7 64l-116.6 0L265.2 495.9c-5.7 10-16.3 16.1-27.8 16.1l-56.2 0c-10.6 0-18.3-10.2-15.4-20.4l49-171.6L112 320 68.8 377.6c-3 4-7.8 6.4-12.8 6.4l-42 0c-7.8 0-14-6.3-14-14c0-1.3 .2-2.6 .5-3.9L32 256 .5 145.9c-.4-1.3-.5-2.6-.5-3.9c0-7.8 6.3-14 14-14l42 0c5 0 9.8 2.4 12.8 6.4L112 192l102.9 0-49-171.6C162.9 10.2 170.6 0 181.2 0l56.2 0c11.5 0 22.1 6.2 27.8 16.1L365.7 192l116.6 0z"/>
                        </g>
                    </svg>
                    <svg class="svg__plane-line" width="100%" height="100%" viewBox="0 0 2028 838" xmlns="http://www.w3.org/2000/svg">
                        <path id="path" d="M8 710.855C182.5 912.688 1011.73 736.855 1193 469.855C1441.15 104.355 891.401 -221.645 647 230.355C517.5 469.855 784.5 827.355 1193 827.355C1575 827.355 1816 664.855 2018.5 336.355" fill="none" stroke="#1A1A1A" stroke-width="20" />
                    </svg>
                    <svg class="svg__cloud svg__cloud--top" viewBox="0 0 640 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 336C0 415.5 64.5 480 144 480H512C582.7 480 640 422.7 640 352C640 290.1 596 238.4 537.6 226.6C541.7 215.9 544 204.2 544 192C544 139 501 96 448 96C428.3 96 409.9 102 394.7 112.2C367 64.2 315.3 32 256 32C167.6 32 96 103.6 96 192C96 194.7 96.1 197.4 96.2 200.1C40.2 219.8 0 273.2 0 336Z"/>
                    </svg>
                    <svg class="svg__cloud svg__cloud--bot" viewBox="0 0 640 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 336C0 415.5 64.5 480 144 480H512C582.7 480 640 422.7 640 352C640 290.1 596 238.4 537.6 226.6C541.7 215.9 544 204.2 544 192C544 139 501 96 448 96C428.3 96 409.9 102 394.7 112.2C367 64.2 315.3 32 256 32C167.6 32 96 103.6 96 192C96 194.7 96.1 197.4 96.2 200.1C40.2 219.8 0 273.2 0 336Z"/>
                    </svg>
                </div>
                <div class="inner__coordinates">
                    <div class="inner__address">
                        <span>
                            <svg class="svg__address" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/>
                            </svg>
                        </span>
                        <p>
                            76190 Hautot Saint Sulpice</br>
                            Normandie, France
                        </p>
                    </div>
                    <p class="p__phone">
                        <span>
                            <svg class="svg__phone" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/>
                            </svg>
                        </span>
                        +33 7 66 28 44 60
                    </p>
                    <p class="p__email">
                        <span>
                            <svg class="svg__envelop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
                            </svg>
                        </span>
                        contact@portfolio-pm.fr
                    </p>
                </div>
            </div>
        </div>
    </Frame>
</BaseLayout>

<style lang="scss">
    @use "../styles/vars";

    @mixin aligned {
        display: flex;
        align-items: center;
    }

    @mixin coordinates {
        width: 16px;
        margin-right: 12px;
        opacity: .4;
    }

    .container
    {
        position: relative;
        display: flex;
        width: 72vw;
        height: 72vh;
        padding: 32px 0 32px 32px;

        p {
            font-size: calc(.6rem + .36vw);
        }

        span {
            height: 16px;
        }

        svg {
            fill: vars.$font-color;
        }
    }

    .container__inner
    {
        width: 50%;
    }

    .container__inner--left
    {
        z-index: 2;

        .container__h1 {
            margin-bottom: 12px;
        }

        .container__form {
            padding: 24px;
            border-radius: 24px;
            background: vars.$bg-color;
            box-shadow: 4px 4px 12px vars.$shadow-color;
        }
    }

    .container__form
    {
        label {
            font-size: calc(.72rem + .36vw);
        }

        .form__error {
            color: vars.$span-color;
            fill: vars.$span-color;
        }

        $color-green: #3EB489;
        .valid {
            color: $color-green;
            fill: $color-green;
        }

        .incomplete {
            display: none;
        }
    }

    .form__inner--row,
    .form__inner--column .p__email,
    .form__inner--column .p__message
    {
        margin-bottom: 24px;
    }

    .form__inner--row
    {
        display: flex;
        justify-content: space-between;

        .p__name, .p__job {
            @include aligned;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 47.5%;
        }
    }

    .form__inner--column
    {
        .p__email, .p__message {
            @include aligned;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    .form__inner--row .p__name input,
    .form__inner--row .p__job input,
    .form__inner--column .p__email input,
    .form__inner--column .p__message textarea
    {
        font-family: vars.$primary-font;
        font-size: calc(.56rem + .36vw);
        background: vars.$input-color;
        width: 100%;
        margin-top: 4px;
        padding: 12px;
        border: none;
        border-radius: 12px;
        opacity: .8;
    }

    .form__inner--row .p__name input:focus,
    .form__inner--row .p__job input:focus,
    .form__inner--column .p__email input:focus,
    .form__inner--column .p__message textarea:focus
    {
        outline: none;
    }

    .form__inner--column .p__message textarea
    {
        height: calc(60vh - 360px);
        resize: none;
        overflow: auto;
        vertical-align: top;
    }

    .form__inner--column .form__submit
    {
        @include aligned;
        justify-content: space-between;
    }

    .form__inner--column .form__submit button
    {
        font-size: 1rem;
        color: vars.$bg-color;
        background: vars.$span-color;
        padding: 12px 18px;
        border: none;
        border-radius: 32px;
    }

    .form__inner--column .form__submit svg
    {
        width: 40px;
    }





    .container__inner--right
    {
        @include aligned;
        flex-direction: column;

        .inner__paths {
            position: relative;
            width: 100%;
            height: 38vh;
        }
    }

    .inner__paths
    {
        path:first-child {
            stroke: vars.$bg-color;
        }

        path:last-child {
            stroke: vars.$font-color;
        }

        .svg__plane-line {
            position: absolute;
            height: calc(10vw + 40px);
            top: calc(1.6vw + 36px);
            left: calc(-2vw - 48px);
            overflow: visible;
        }

        .svg__cloud {
            position: absolute;
            z-index: 3;
        }
    }

    .svg__cloud
    {
        &--top {
            top: 1.6vh;
            left: 3.6vw;
            width: calc( 24px + 3.2vw);
        }

        &--bot {
            bottom: 4vh;
            right: 3vw;
            width: calc(36px + 3.6vw)
        }
    }

    $strk-length: 4308;
    $strk-style: round;
    .inner__paths .svg__plane-line #path
    {
        stroke-dasharray: $strk-length;
        stroke-dashoffset: $strk-length;
        stroke-linecap: $strk-style;
        stroke-linejoin: $strk-style;
    }

    .anim_path
    {
        animation: power1 2.4s cubic-bezier(.57, 0, 1, 1) forwards;
    }

    @keyframes power1
    {
        to {
            stroke-dashoffset: 0;
        }
    }

    .inner__paths .svg__plane-line #plane
    {
        transform: scale(.4) translateX(-80vw);
    }

    .inner__address
    {
        @include aligned;
        margin-bottom: 8vh;

        .svg__address {
            @include coordinates;
        }
    }

    .p__phone
    {
        @include aligned;

        .svg__phone {
            @include coordinates;
        }
    }

    .p__email
    {
        @include aligned;

        .svg__envelop {
            @include coordinates;
        }
    }

    @media(max-width: 940px)
    {
        .container {
            padding: 32px;
        }

        .container__inner--left {
            width: 100%;
        }

        .container__inner--left .container__form {
            height: 90%;
        }

        .container__inner--left .container__form .form__inner--row {
            display: block;
        }

        .container__inner--left .container__form .form__inner--row,
        .container__inner--left .container__form .form__inner--column .p__email,
        .container__inner--left .container__form .form__inner--column .p__message {
            margin-bottom: 12px;
        }

        .container__inner--left .container__form .form__inner--row .p__name,
        .container__inner--left .container__form .form__inner--row .p__job
        {
            width: 100%;
            margin-bottom: 12px;
        }

        .container__inner--left .container__form .form__inner--column .form__submit button
        {
            font-size: calc(.64rem + .36vw);
            padding: 8px 12px;
        }

        .container__inner--right {
            display: none;
        }
    }
</style>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"/>
<script src="../scripts/form.js"/>